<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Boolzapp</title>
        <script src="https://kit.fontawesome.com/d573fb9cae.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
        <script>dayjs().format()</script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div id="root">
            <div class="container">
                <section id="contact-board">
                    <div class="user-panel">
                        <div class="user-avatar">
                            <img :src="user.avatar">
                            <div class="contact-name">
                                <p>{{user.name}}</p>
                                <small>{{user.stato}}</small>
                            </div>
                        </div>
                        <div class="user-icon">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="user-notifi">
                        <div class="notifi-icon">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="notifi-info">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche dekstop</a>
                        </div>
                    </div>
                    <div class="user-search">
                        <button type="button" class="search-button">
                            <i class="fas fa-search"></i>
                        </button>
                        <input type="text" placeholder="Cerca una nuova chat" v-model="search">
                    </div>
                    <div class="user-contacts">
                        <div @click="changeContactInfo(indice)" v-for="(item, indice) in filterContact" class="contact">
                            <img :src="item.avatar">
                            <div class="contact-name">
                                <p>{{item.name}}</p>
                                <small>{{item.stato}}</small>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="message-board">
                    <div class="current-user">
                        <div class="contact-avatar">
                            <img :src="contact[contact_index].avatar">
                            <div class="contact-name">
                                <p>{{contact[contact_index].name}}</p>
                                <small>{{contact[contact_index].stato}}</small>
                            </div>
                        </div>
                        <div class="contact-icon">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="chat">
                        <div
                        v-for="(item, index) in contact[contact_index].messages"
                        class="message"
                        :class="item.status">
                            <span>{{item.message}}</span>
                            <p>{{now_date}}</p>
                        </div>
                    </div>
                    <div class="message-bar">
                        <i class="far fa-smile"></i>
                        <input v-model="new_message" @keyup.enter="addNewMessage" type="text" placeholder="Scrivi un messaggio">
                        <i class="fas fa-microphone"></i>
                    </div>
                </section>
            </div>
        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
